@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

form {
  display: flex;
  flex-direction: column;
  width: 46.4%;
  height: fit-content;
}

body {
  scroll-behavior: smooth;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  background-image: url("background.svg");
}

p,
label {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 18px;
}

input[type="text"],
input[type="date"],
select {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 30px 4px rgba(0, 0, 0, 0.15);
  border-radius: 17px;
  max-width: 892px;
  min-height: 39px;
  margin: 10px 0;
  font-family: Nunito;
  font-size: 15px;
  padding-left: 10px;
}

input[type="submit"] {
  background: #d73a2f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 97px;
  width: 105px;
  height: 39px;
  font-family: Nunito;
  font-size: 15px;
  color: #ffffff;
  float: right;
  margin-bottom: 2rem;
}

.title {
  color: #d73a2f;
  font-size: 1.75rem;
  text-align: center;
  margin: 25px;
}

.desc {
  font-size: 1.5rem;
  text-align: center;
  max-width: 600px;
}

.keterangan {
  font-size: 20px;
}

.unduh {
  background: #d73a2f;
  box-shadow: 4px 4px 30px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 48px;
  width: 193px;
  color: #ffffff;
  font-family: Nunito;
  display: flex;
  justify-content: center;
  align-items: center;
}

#abstract {
  border-radius: 29px;
  padding-left: 10px;
}

#search {
  background-image: url("magnifyingglass1.png");
  background-repeat: no-repeat;
  padding-left: 40px;
}
