{% extends "base.html" %}
{% load static %}

{% block meta %} 
<title>Cari Event</title>
{% endblock meta %} 

{% block style %} 
    <style>
        #img2 {
            width: 250px;
            height: 460px;
            margin-top: 40px;
        }
        #img1 {
            width: 230px;
            height: 460px;
            margin-top: 40px;
            margin-left: 20px;
        }
        h1 {
            font-family: 'Nunito', sans-serif;
            font-weight: 800;
        }
        h4{
            font-family: 'Nunito', sans-serif;
            font-weight: 500;
            font-size: 1.3em;
        }
        a, button, h5, h6, h2 {
            font-family: 'Nunito', sans-serif;
        }
        body {
            background-image: url("{% static 'corona.png' %}");
            background-repeat: no-repeat;
            background-size: contain;
        }
        #event, #event1 {
            color: #D73A2F;
        }
        #event1{
            font-weight: 800;
        }
        #in.btn{
            display: inline-block;
            margin-top: 20px;
            padding: 6px 20px;
            color: white;
            border-radius: 30px;
            font-weight: 500;
            letter-spacing: 1px;
            text-decoration: none;
        }
        #aa.btn{
            display: inline-block;
            padding: 6px 20px;
            background-color: #D73A2F;
            border-radius: 30px;
            font-weight: 500;
            letter-spacing: 1px;
            text-decoration: none;
        }
        .form-container{
            position: relative;
        }
        @media only screen and (max-width: 768px) {
            #img2 {
                display: none;
            }
            #img1 {
                display: none;
            }
        }
    </style>
{% endblock style %} 

{% block content %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <div class="container">
        <div class="row">
        <div class="col">
            <img id="img1" src="{% static 'cewe.png' %}"><br>
        </div>
        <div class="col-6 justify-content-center">
            <center>
            <div class="container" style="margin-top: 125px;">
                <h1 id="event">Cari Event!</h1>
                <h4>Berbagai macam event sudah menunggu
                    <br>Cari event yang Anda inginkan disini</h4><br>
                <form class="form-cointainer">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-lg-11" style="margin-left: 9px;">
                            <input type="text" id="src" name="srh" class="form-control" placeholder="Ketik event" style="border-radius: 30px;">
                            <!-- <button type="submit" class="btn btn-danger" id="in" style="margin-top: 20px;">Search</button> -->
                        </div>
                    </div>
                </form>
            </center>
        </div>
        <div class="col">
            <img id="img2" src="{% static 'cowo.png' %}"><br>
        </div><br>
        </div>
    </div>
    <div class="container">
        <h2 id="event1" style="text-align: center;"></h2><br><br>
        <table id="main-table" style="display: none">
        
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(() => {
        // $('#in').on('click', event => {
        //     event.preventDefault();
        //     var keyword = $('#src').val();
        //     if(keyword == ''){
        //         alert("Search box cant empty!")
        //     }
        //     get_event(keyword);
        // });

        $('#src').keyup(function(e) {
            e.preventDefault();
            var keyword = $('#src').val();
            get_event(keyword);
        });

        function get_event(keyword) {
            $('#main-table').hide();
            $.ajax({
                type: "POST",
                url: '{% url 'event:carievent' %}',
                data        : {
                    'srh' : keyword,
                    'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
                },
                dataType    : 'json',
                success: function(data) {
                    $('.data').empty();
                    $('#event1').empty();
                    if(keyword == '');
                    else if (data.length == 0 && keyword != ''){
                        $('#event1').append('<br/>Hasil Pencarian Event "' + keyword + '" tidak ditemukan, silahkan coba lagi<br/><br/>');;
                    }
                    else if (data.length >= 1 && keyword != ''){
                        $('#event1').append('<br/>Hasil Pencarian Event <br>"' + keyword + '"<br/><br/>');
                        for (var i=0; i<data.length; i++) {
                            $('#main-table').append(
                                $('<tr/>').addClass('data').attr('id', data[i].id).append(
                                    $('<td/>').addClass('title').html('<h5>' + data[i].Jenis_Event + '</h5>')
                                ),
                                $('<tr/>').addClass('data').attr('id', data[i].id).append(
                                    $('<td/>').addClass('title').html('<h2>' + data[i].Nama_Event + '</h5>')
                                ),
                                $('<tr/>').addClass('data').attr('id', data[i].id).append(
                                    $('<td/>').addClass('title').html('<h6>Penyelenggara: &nbsp;&nbsp;' + data[i].Penyelenggara + '</h5>')
                                ),
                                $('<tr/>').addClass('data').attr('id', data[i].id).append(
                                    $('<td/>').addClass('title').html('<h6>Tanggal Event: &nbsp;&nbsp;' + data[i].Tanggal_Event + '</h5>')
                                ),
                                $('<tr/>').addClass('data').attr('id', data[i].id).append(
                                    $('<td/>').addClass('title').html('<h6>Waktu Event: &nbsp;&nbsp;' + data[i].Waktu_Event + '</h5>')
                                ),
                                $('<tr/>').addClass('data').attr('id', data[i].id).append(
                                    $('<td/>').addClass('title').html('<button type="submit" class="btn" id="aa" style="margin-top: 20px;"><a href="' + data[i].Link_Pendaftaran + '" style="color: white;">Daftar</a></button>' + '<br/>'+ '<br/>'+ '<br/>')
                                )
                            ).css({'margin-left': '120px'});
                        }
                        $('#main-table').show();
                    }
                }
            });
        }
    });
    </script>
{% endblock content %}
    

