{% extends "base.html" %}
{% load static %}

{% block meta %} 
<title>Tambah Event</title>
{% endblock meta %} 

{% block style %} 
  <style>
    h4, h1 {
      font-family: 'Nunito', sans-serif;
      font-weight: 800;
    }
    h2 {
      font-family: 'Nunito', sans-serif;
      font-weight: 800;
    }
    h6 {
      font-family: 'Nunito', sans-serif;
      font-weight: 400;
    }
    a, button, h5, h6 {
      font-family: 'Nunito', sans-serif;
    }
    body {
      background-image: url("{% static 'background.png' %}");
      background-repeat: no-repeat;
      background-size: contain;
    }
    .form-container{
      position:absolute;
    }
    .btn {
      bottom: 20px;
      padding: 7px 23px;
      background-color: #D73A2F;
      outline: none;
      border: 1px solid whitesmoke;
      border-radius: 20px;
      color: white;
    }
    #img1 {
      width: 240px;
      height: 470px;
      margin-top: 30px;
      margin-left: 20px;
    }
    @media only screen and (max-width: 768px) {
      #img1 {
        width: 150px;
        height: 300px;
        margin-top: 30px;
        margin-left: 20px;
      }
    }
  </style>
{% endblock style %} 

{% block content %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
  <div class="container px-lg-7">   
    <div class="row px-lg-5">
      <div class="col py-3 px-lg-5" style=" margin-top: 7px;">
        {%if auth%}
        <form class="form-container" >
          <h2 class="display-5r" style="color: #D73A2F;">Tambah Event</h2>
          <h6>Anda bisa menambahkan event yang Anda sudah rancang (ex. Webinar, Workshop, dsb)
            di website ini agar bisa dilihat  oleh semua orang</h6><br>
          {% csrf_token %}
          {% for a in form %}
            <div class="form-group">
                <h6>{{a.label}}</h6>
                {{a}}
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-info">Submit</button><br><br>
        </form>
        {%else%}
        <center>
          <h2 style="color: #D73A2F; margin-top: 120px;">Untuk dapat mengakses fitur ini, Anda harus login terlebih dahulu</h2>
          <h5>Click <a id="link" href="#" style="color: #D73A2F;">disini</a> untuk login</h5>
        </center>
        {%endif%}
      </div>
      <div class="col py-3 px-lg-5" >
        <center><img id="img1" src="{% static 'Frame.png' %}"></center>
      </div>
    </div>
  </div><br><br><br><br><br><br><br><br><br><br><br><br>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $('a').click(function(){ 
      $("a").attr('href','/login');
    });

    $("form").on( "submit", function(event) {
        $.ajax({
        type: "POST",
        url: "{% url 'event:tambahevent' %}",
        data: $(this).serialize(), 
        dataType: 'json', 
        success: function (msg) {
            if (msg.message === 'success') {
              alert('Event has been successfully added!');
              $('form').trigger("reset");
            }
          }
        });
  
      event.preventDefault();

    });

    // const form = document.getElementById('form');
    // form.addEventListener("submit", submitHandler);

    // function submitHandler(e) {
    //     e.preventDefault();
    //     $.ajax({
    //         type        : 'POST', 
    //         url         : '{% url 'event:tambahevent' %}', 
    //         data        : $('#form').serialize(), 
    //         dataType    : 'json', 
    //         success     : successFunction
    //     });
    // }

    // function successFunction(msg) {
    //   console.log(msg);
    //     if (msg.message === 'success') {
    //         alert('Event has been successfully added!');
    //         $('#form').trigger("reset");
    //     }
    // }

    // $(document).ready(function() {
    //   $('form').submit(function(event) {
    //     $.ajax({
    //         type        : 'POST', 
    //         url         : '{% url 'event:tambahevent' %}', 
    //         data        : $('#form').serialize(), 
    //         dataType    : 'json', 
    //         success     :  function (msg) {
    //           console.log(msg);
    //             if (msg.message === 'success') {
    //                 alert('Event has been successfully added!');
    //                 form.reset();
    //             }
    //         }
    //     });

    //     event.preventDefault();
    //   });
  </script>
{% endblock content %}
    