@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

header,
section {
  overflow-x: hidden;
}

header a {
  font-size: 1.1em;
  color: #1a1a33;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fddde1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
  font-size: 1.8em;
  color: #ed443b;
  font-weight: 700;
}

header .nav-link:hover {
  color: black;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 100%;
}

header {
  background: #ffffff;
}

header .container .col-md-7 h6 {
  font-size: 3vmin;
  padding: 1vmin;
  color: #1a1a33;
}

header .container .col-md-7 h1 {
  color: #ed443b;
  font-size: 9.3vmin;
  font-weight: 900;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

header .container .col-md-7 button {
  color: #ffffff;
  width: 10em;
  height: 3em;
}

#scroll {
  font-size: 1em;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
  background-color: #ed443b;
  padding: 0.1em 0em;
  color: white;
  font-size: 0.8em;
}

.section-1 {
  padding: 20vmin 0vmin;
  background-color: rgb(255, 214, 214);
}

.section-1 .row .col-md-6 .pray img {
  width: 100%;
  padding: 0.4em 0;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  text-align: left;
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: 900;
  color: #ed443b;
  padding: 0.6em 0;
  font-size: 2.8em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.8);
}

.section-2 .container h1 {
  padding-top: 14vmin;
  font-weight: 900;
  color: #ed443b;
  font-size: 2.8em;
}
.section-2 .container p {
  font-size: 1.3em;
}
.section-2 .team {
  padding: 1vmin 4vmin;
}

.section-2 .team h3 {
  font-weight: 800;
  color: #ed443b;
}

.section-2 .card {
  width: 20em;
  margin-top: 6vmin;
}

.section-2 .card .card-text {
  padding: 1em;
}

.section-2 .card-body > a {
  font-size: 1.5em;
}

.section-2 .carousel-item {
  padding-left: 3rem;
}

footer {
  background: #931f17;
  overflow-x: hidden;
  padding: 5vmin 2vmin;
}

footer p {
  color: #ffffff;
}

footer i {
  color: #f1f1f1;
  size: 2em;
  letter-spacing: 0.5em;
  padding-bottom: 2em;
}

.section-3 {
  padding: 20vmin 0vmin;
}
.section-3 h1 {
  color: #ed443b;
  font-weight: 800;
}

.stat {
  margin-top: 8em;
  padding: 8vmin 0vmin;
  background-color: rgb(255, 214, 214);
  border-radius: 8em;
}

.stat h3 {
  color: #ed443b;
  font-weight: 800;
}

.stat h2 {
  font-size: 4.5em;
  font-weight: 900;
}

@keyframes fade-in-left {
  0% {
    transform: translate(-25%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
    font-size: 1.3rem;
  }

  header img {
    display: none;
  }

  header {
    background-image: url("/static/img/background.jpg");
    background-position: 70% 60%;
  }

  header .container .col-md-7 button {
    width: 5em;
    height: 1.5em;
    font-size: 1em;
  }

  header a {
    font-size: 0.8em;
  }

  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
    font-size: 0.8em;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .section-1 .row .col-md-6 .pray img {
    width: 60%;
    padding: 0.4em 0;
  }

  .section-2 {
    font-size: small;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
  }

  .section-3 h1 {
    font-size: 1.5rem;
  }

  .section-3 h6 {
    font-size: 1 rem;
  }
  footer .row {
    font-size: 0.7em;
  }
  footer i {
    padding-bottom: 3em;
  }

  #scroll {
    font-size: 0.6em;
  }
}
