{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            crossorigin="anonymous"></script>

    <title>Cari Studi</title>
    {% endblock %}
    {% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'study.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="content">
        <p class="title" style="font-size: 2rem; font-weight:800 ; margin-top: -5em;">Cari Studi Korona !</p>
        <p class="desc" style="font-size: 1.2em; ">Pelajari Corona lebih jauh dengan studi-studi dari berbagai sumber.
            Tinggal ketik saja apa judul studi yang diinginkan.</p>
        <form id="cari-studi">
            <input id='search' type="text" placeholder="ketik studi" name="search">
            <br>
            <input type="submit" value="Cari">
        </form>
        
        <div style="width: 70%; max-width: 892px;" id="studi-result">
            
        </div>
       
    </div>
    <script>
        $(document).ready(
            $('#cari-studi').submit(function (event) {
                event.preventDefault();
                console.log('kenta')
                const studiTitle = $('#search').val();
                $.ajax({
                    method: 'GET',
                    data: {
                      'query': studiTitle
                    },
                    url: "/studi/cari/response",
                    success: function (result) {
                        let studiRow = $('#studi-result');
                        studiRow.empty();
                        const resultList = result['items'];
                        if (typeof resultList === 'Tidak Ditemukan'){
                            studiRow.append(
                                '<p style="text-align: center;">Tidak Ditemukan</p>'
                            );
                        }
                        else {
                            studiRow.append('<p class="title" style="font-size: 35px;">Hasil pencarian studi</p>')
                            for (let i = 0; i < resultList.length; i++) {
                                studiRow.append(
                                    '<p style="font-size: 25px;"><b>' + resultList[i]['nama'] + '</b></p>' +
                                    '<p class="keterangan">Tipe :' + resultList[i]['tipe'] + '</p>' +
                                    '<p class="keterangan">Penulis :' + resultList[i]['author'] + '</p>' +
                                    '<p class="keterangan">Tanggal Publikasi :' + resultList[i]['tanggal'] + '</p>' +
                                    '<p>' + resultList[i]['abstract'] + '</p>' +
                                    '<p><i>Baca selengkapnya dengan mengunduh pdf berikut</i></p>' +
                                    '<a href="https://' + resultList[i]['link'] + '"><div class="unduh">Unduh .pdf</div></a>' +
                                    '<br>'
                                );
                            }
                        }
                    }
                });
            })
        );
    </script>
    {% endblock %}
    

    
</body>
</html>