{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <title>Tambah Studi</title>
    {% endblock %}
    {% block style %}
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'study.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="content">
        {% if notloggedin %}
        <p class="title" style="font-size: 2rem;"><b>Anda harus login terlebih dahulu untuk menambahkan studi</b></p>
        <p class="desc" style="font-size: 1.25rem;">Click <a href="{% url 'login:login' %}" style="color: #D73A2F;">disini</a> untuk login</p>
        {% else %}
        <p class="title" style="font-weight: 800;">Tambah Studi</p>
        <p class="desc" style="font-size: 1.2em; margin-bottom: 2em;">Tambahkan studi yang Anda punya. 
            Orang-orang bisa melihat studi yang Anda tambahkan</p>
        
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" id="studi-submit">
        </form>

        <br>
        <br><br>
            {% if success %}
            <p class="title" style="font-size: 25px;">Berhasil ditambahkan</p>
            {% endif %}
        {% endif %}
    </div>
    <script>
        $('#studi-submit').click(function (event){
            console.log('submit')
            $.ajax({
                method : 'POST',
                data : {
                    'namaStudi' : $('#nama').val(),
                    'tipeStudi' : $('#tipe').val(),
                    'author' : $('#author').val(),
                    'tanggalPublikasi' : $('#tanggal').val(),
                    'abstract' : $('#abstract').val(),
                    'link' : $('#link').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                url : '/studi/tambah/post',
                success : function(result) {
                    alert('Berhasil Ditambahkan')
                }

            })
        });
        $("input").focus(function(){
            $(this).css("background-color", "yellow");
        });
        $("input").blur(function(){
            $(this).css("background-color", "white");
        });
    </script>

    {% endblock %}
</body>
</html>