body {
    background-image: url("keluhkesah.png");
  
    height: 100%; 
  
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
    
.kotak1{
    text-align : center;
    padding-left : 14%;
    padding-right : 14%;
    padding-top : 4%;
    padding-bottom : 2%;
    margin : 1%;
}



h2{
    color : #ed443b;
    font-family : Nunito;
    font-weight : bold;
}
h4{
    font-family : Nunito;
}

.responsive {
  max-width: 90%;
  height: auto;
}

img {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img:hover {
  filter: none;
  -webkit-filter: none;
}

table{
    font-family : Nunito;
    font-size : 20px;
    text-align : left;
}
.button-position{
    text-align : right;
    padding-right : 14%;
}

p {
    font-family : Nunito;
}

.myform{
    padding-right : 18%;
    padding-left: 18%;
}