{%extends 'base.html'%}

{%load static%}
<html>

<head>
{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href = {% static 'css/customer.css'%}
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
    <script src="{% static 'js/customer.js' %}"></script>
    <script type = "text/javascript" src="{% static 'js/semangat.js' %}"></script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Support</title>
</head>
{% endblock meta %}
 
<body>
{% block content%}
{%if not user.is_authenticated%}
<br><br>
<div class = "kotak1" id = "pesan">
    <h2 style = "font-weight : 800; font-size: 2em">Anda harus login untuk menggunakan fitur pesan dan kritik saran</h2>
</div>
{%endif%}

{%if user.is_authenticated%}


<div class = "kotak1" id = "pesan">
    <div class="card-header border-0 rounded-lg" style="background-color:#FDEDEF;">
    <h2 style = "font-weight : 800; font-size: 2em">Pesan Penyemangat</h2>
    </div>
</div>
<div class="myform" id="formPesan" style ="display:none;">
    <br>
    <h4 style = "font-size : 1.2em; margin-top: -1em; text-align:center;">Anda bisa memberikan pesan penyemangat kepada teman-teman pasien Covid-19. Pesan dari Anda sangat berarti untuk mereka.</h4>
    <br>
    <form id = "formMengisiPesan" method="POST" action="kumpulan-semangat/" enctype="multipart/form-data">
        <div id = "success" style="display:none;">
                <h4 style = "font-size : 1.2em; text-align:center; color:green;">Pesan Anda berhasil disimpan. Silakan klik Lihat Pesan.</h4>
        </div><br>
        {% csrf_token %}
        <div class="form-group" style="font:22px" id="formIsiPesan">
            {{ form_semangat.as_p }}
        </div>
        <br>
        <button type="submit" class="btn btn-danger float-right" 
        style="border-radius: 2em; font-size: 1em; padding-left: 1.5em; padding-right: 1.5em;">
        Submit</button>
    </form>
    <a href="#kumpulanSemangat">
        <button type="submit" class="btn btn-danger float-left" id="lihatPesan"
        style="border-radius: 2em; font-size: 1em; padding-left: 1.5em; padding-right: 1.5em;">
        Lihat Pesan</button>
    </a>
</div>
<br><br>


<div class = "kotak1" id="keluhan">
    <div class = "card-header border-0 rounded-lg" style="background-color:#FDEDEF;">
    <h2 style = "font-weight : 800">Keluh Kesah?</h2>
    </div>
</div>
<div class="myform" id="formKeluhan" style ="display:none;">
    <br>
    <h4 style = "font-size : 1.2em; margin-top: -1em; text-align:center;">Ingin menyampaikan keluh kesah dari website ini? Kirim saja pesan anda di sini. Kami akan memperbaikinya agar website menjadi lebih baik</h4>
    <br>
    <form id="formMengisiKritik" method="POST" action="berhasil/" enctype="multipart/form-data">
         <div id = "successKritik" style="display:none;">
                <h4 style = "font-size : 1.2em; text-align:center; color:green;">Kritik Anda berhasil disimpan</h4>
        </div><br>
        {% csrf_token %}
        <div class="form-group" style="font:22px">
            {{ form_keluhan }}
        </div>
        <br>
        <button type="submit" class="btn btn-danger float-right" style="border-radius: 2em; font-size: 1em; padding-left: 1.5em; padding-right: 1.5em;">Submit</button>
    </form>
</div>
<br><br>

<div class = "kotak1" id = "kumpulanSemangat">
    <div class = "card-header border-0 rounded-lg" style="background-color:#FDEDEF;">
            <h2 style="text-align : center; font-weight : 800;">Kumpulan Pesan Penyemangat</h2>        
    </div>
</div>
<div class = "myform" id="berkumpul" style="display:none">
    <h4 style = "font-size : 1.2em; text-align : center">Ini merupakan kumpulan pesan yang dapat menyemangati kita semua di kala pandemi ini.
    Mari terus berjuang dalam menghadapi pandemi Covid-19.</h4>
    <div id = "result" ></div>
</div>

<br><br>


{%endif%}


<div class = "kotak1" id = "tentangKami">
    <div class = "card-header border-0 rounded-lg" style="background-color:#FDEDEF;">
        <h2 style = "font-weight : 800">Tentang Kami</h2>
    </div>
    <br>
</div>
<div class = "myform" id = "isiKami" style="display:none">
    <h4 style = "font-size : 1.2em; text-align:center">Website CoronaStudy ditujukan kepada masyarakat umum yang 
    tertarik untuk mempelajari tentang pandemi Covid-19. Website ini dikembangkan oleh Aryo, Ayesha, Hasna, dan Hilmy.
    Kami adalah mahasiswa Fasilkom UI 2019 yang sedang melaksanakan tugas Perancangan dan Pemrograman Web (PPW) Semester 3.</h4>
    <br>
    <div class="container-fluid text-center" style = "padding-bottom : 8%;">
    <div class="row">
        <div class="col-sm-3">
            <br>
            <img src="{% static 'img/aryo.jpg' %}" class="rounded-circle responsive" alt="aryo" id="aryo">
            <div id = "innerAryo" style="visibility:hidden;">
            <br>
                <h4 style = "font-size : 1.1em">Halo, saya Aryo. Saya yang membuat aplikasi Cari Studi</h4>
            </div>
        </div>
        <div class="col-sm-3"> 
            <br>
            <img src="{% static 'img/aye.jpg' %}" class="rounded-circle responsive" alt="aye" id ="aye">
            <div id = "innerAye" style="visibility:hidden;">
            <br>
                <h4 style = "font-size : 1.1em">Halo, saya Ayesha. Saya yang membuat aplikasi Pesan</h4>
            </div>
        </div>
        <div class="col-sm-3"> 
            <br>
            <img src="{% static 'img/hasna.jpg' %}" class="rounded-circle responsive" alt="hasna" id="hasna">
            <div id = "innerHasna" style="visibility:hidden;">
            <br>
                <h4 style = "font-size : 1.1em">Halo, saya Hasna. Saya yang membuat aplikasi Cari Event</h4>
            </div>
        </div>
        <div class="col-sm-3"> 
            <br>
            <img src="{% static 'img/hilmy.jpg' %}" class="rounded-circle responsive" alt="hilmy"id="hilmy">
            <div id = "innerHilmy" style="visibility:hidden;">
            <br>
                <h4 style = "font-size : 1.1em">Halo, saya Hilmy. Saya yang membuat aplikasi Homepage</h4>
            </div>
        </div>
        </div>
</div>
</div>
<br><br><br>
</body>
{% endblock content%}
</html>

