{% extends 'base.html' %} {% load static %}{% block meta %} 
<title>Terima Kasih</title>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/dataemail.js' %}"></script>
{% endblock meta %} {% block style %}

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
      * {
      box-sizing: border-box;
      font-family: "Nunito", sans-serif;
      }

    .notif{
      padding-bottom: 60vmin;
      background-image: url('/static/img/background.jpg') ;
      background-position: 80% 45%;
      width: 100%;
    }
    h1{
      font-weight: 800;
      color: #ed443b;
    }
    h4{
  font-weight: 800;
  color: #ed443b;
}
.primary-btn{
  border-radius: 30px;
  font-weight: bold;
  background-color: #ed443b;
  padding: 0.1em 0em;
  color: white;
  font-size: 0.8em;
}
    @media only screen and (max-width: 768px){
      .notif{
        background-position: 70% 50%;
        width: 100%;
      }
      h1 {
        font-size: 1.5rem;
      }

      h4 {
  font-size: 1rem;
}
      p {
        font-size: 0.8rem;
      }

      .table{
        font-size: 0.7em;
      }
    }
    </style>
    {% endblock style %} 
<!-- </head> -->

{% block content %}
<section class="notif">
  <div class="container text-center">
    <br>
    <br>
    <h4>DATABASE CORONASTUDY</h4>
    <h1>Daftar email</h1>
    <p>Inilah daftar email yang pengguna masukkan dari website CoronaStudy
    </p>
    <div id="dataemail" class="container">
        <table class="table table-striped">
          <thead>
            <tr class="table-danger">
              <th scope="col">List Email</th>
            </tr>
          </thead>
  
          <tbody id="isiemail">
        </table>
  </div>

  <a  href="{% url 'homepage:kirimemail'%}" class="btn btn-light px-4 py-2 primary-btn">
    Kirim Email
  </a>
  <a  href="{% url 'homepage:tampilanemail'%}" class="btn btn-light px-4 py-2 primary-btn">
    Histori Email
  </a>
</section>
    

{% endblock content %}

