<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{subjek}}</title>
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
            * {
            box-sizing: border-box;
            font-family: "Nunito", sans-serif;
            }
            h2,h3{
                font-weight: 800;
color: #ed443b;
            }

        </style>
    </head>
    <body>
        <h2>{{judul}}</h2>
        <p>{{deskripsi}} </p>
        <br>
        <p>Info selengkapnya bisa kunjungi https://tk1-covidstudy.herokuapp.com/ </p>
        <h3>Keep Productive and Stay Healthy !</h3>
        <p style="font-size: 0.8em; font-style: italic;">-admin CoronaStudy</p>
    </body>
</html>