{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  
  <title>CoronaStudy</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <link rel="icon" type="image/png" href="https://image.freepik.com/free-vector/virus-concept-illustration_114360-1596.jpg"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>

<body>
  <header>
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="{% url 'homepage:home'%}">CoronaStudy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mr-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'homepage:home'%}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown">
                <a href="{% url 'study:searchstudy'%}" class="nav-link">Studi Corona</a>
                <div class="dropdown-content">
                  <a href="{% url 'study:study'%}">Tambah Studi</a>
                  <a href="{% url 'study:searchstudy'%}">Cari Event</a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown">
                <a href="{% url 'event:carievent'%}" class="nav-link">Event</a>
                <div class="dropdown-content">
                  <a href="{% url 'event:tambahevent'%}">Tambah Event</a>
                  <a href="{% url 'event:carievent'%}">Cari Event</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'customer:customer'%}">Pesan</a>
            </li>
            {% block auth%}
            {%if user.is_authenticated%}
            <li class="nav-item dropdown">
              <div class="dropdown">
                <a href="" class="nav-link" style="background-color: #ed443b; border-radius: 2em; color: #ffffff; padding-left: 2em; padding-right: 2em; font-weight: 700;">Hi, {{request.user}}</a>
                <div class="dropdown-content">
                  <a href="{% url 'login:logout'%}">Logout</a>
                </div>
              </div>
            </li>
            <!-- <li class="nav-item"> -->
              <!-- <a class="nav-link" href="{% url 'login:logout'%}">Logout</a> -->
            <!-- </li> -->
            {%else%}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login:login'%}">Login</a>
            </li>
            {%endif%}
            {%endblock auth%}
          </ul>
        </div>
      </nav>
    </div>
    <br>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-7 col-sm-12" data-aos="zoom-in">
          <h1>CoronaStudy</h1>
          <h6>Website untuk mempelajari studi tentang Covid-19 </h6>
          <br>
        </div>
        <div class="col-md-5 col-sm-10 "  data-aos="zoom-in" id="gambarawal">
          <img src="{% static 'img/coronalanding1.svg' %}" alt="Book" />
        </div>
      </div>
    </div>
    <div class="container text-center" id= "scroll">
      <p>Scroll kebawah untuk mengetahui lebih lanjut</p>
    </div>
    <br>
  
  </header>
  <main>
    <section class="section-1">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6 ">
            <div class="pray" data-aos="fade-right">
              <img src="{% static 'img/coronasection1.png' %}"  alt="Pray" class="" />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="panel text-left"  data-aos="fade-left" >
              <h1>Apa Itu Corona ?</h1>
              <p>
                Virus Corona atau severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2) adalah virus yang menyerang sistem pernapasan. Penyakit karena infeksi virus ini disebut COVID-19. Virus Corona bisa menyebabkan gangguan ringan pada sistem pernapasan, infeksi paru-paru yang berat, hingga kematian.

              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>
    <br>

    <section class="section-2">
      <div class="container text-center mt-2"  data-aos="fade-right">
        <h1>Gerakan 3M</h1>
        <p>Pemerintah lewat Satgas Covid-19 saat ini terus menggencarkan kampanye penyuluhan 3M (Memakai masker, rajin Mencuci tangan, dan selalu Menjaga jarak).
        </p>
      </div>
      <div class="container text-center mt-2">
        <div class="team row justify-content-center">
          <div id="card1" class="col-md-4 col-12 text-center" data-aos="zoom-in" data-aos-delay="50">
              <div class="card mr-2 d-inline-block shadow p-3 mb-5 rounded" style="width: 20rem;">
                  <div class="card-img-top">
                    <img src="{% static 'img/masker.svg' %}"  class="img-fluid border-radius p-4" id="gambar1" alt="" style="width: 14rem;">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Memakai Masker</h3>
                    <!-- <p class="card-text"> -->
                      Dianjurkan untuk memakai masker jika berpergian untuk menghindari virus
                      
                    </p>
                  </div>
                </div>
          </div>
          <div id="card2" class="col-md-4 col-12 text-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="card mr-2 d-inline-block shadow p-3 mb-5 rounded" style="width: 20rem;">
                <div class="card-img-top">
                  <img src="{% static 'img/cuci.svg' %}"  class="img-fluid border-radius p-4" id="gambar2" alt="" style="width: 14rem;">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Mencuci Tangan</h3>
                  <!-- <p class="card-text"> -->
                    Dianjurkan untuk selalu mencuci tangan setiap saat, terlebih saat menyentuh atau memegang sesuatu
                    
                  </p>
                </div>
              </div>
        </div>
        <div id="card3" class="col-md-4 col-12 text-center" data-aos="zoom-in" data-aos-delay="500">
          <div class="card mr-2 d-inline-block shadow p-3 mb-5 rounded" style="width: 20rem;">
              <div class="card-img-top">
                <img src="{% static 'img/jarak.svg' %}"  class="img-fluid border-radius p-4" id="gambar3" alt="" style="width: 18rem;">
              </div>
              <div class="card-body">
                <h3 class="card-title">Menjaga Jarak</h3>
                <!-- <p class="card-text"> -->
                 Menjaga jarak terhadap orang-orang agar terhindar dari paparan virus 
                  
                </p>
              </div>
            </div>
      </div>
      </div>
      <br>
      <br>
      <br>     
    </section>
    <section class="section-3">
      <div class="container text-center" data-aos="zoom-in">
              <h1>Daftarkan Email Anda </h1>
              <p>
                Ingin mendapatkan pemberitahuan tentang studi terbaru ? 
Daftarkan email Anda disini.
              </p>
              {% if user.is_authenticated %}
                <div class="form-group text-center">
                  <form action = "" method="POST" id="form" >
                    {% csrf_token %} {{form.as_p}}
                    <button type="submit" class="btn btn-light px-4 py-2 primary-btn">Save</button>
                  </form>
                </div>
              {%else%}
              
              <div class="form-group text-center" >
                <form action = "" method="POST" id="form" >
                  <span tabindex="0" data-toggle="tooltip" title="Anda harus Login terlebih dahulu untuk mendaftarkan email Anda">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" disabled>
                  </div>
                  <!-- <button type="Submit" class="btn btn-danger px-4 py-2 primary-btn" disabled>Save</button> -->
                  <!-- <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Anda harus Login terlebih dahulu untuk mendaftarkan email Anda"> -->
                    <button class="btn btn-danger px-4 py-2 primary-btn" style="pointer-events: none;" type="button" disabled>Save</button>
                  </span>
                </form>
              </div>
              {%endif%}

      </div>
    </section>
    <br>
    <br>
    </main>

  <footer>
    <div class="container-fluid ">
      <div class="text-center">
        <p>Kontak kami di media sosial masing-masing</p>
        <br>
        <div class="row text-center col-sm-12  justify-content-center">
          <div class="col-sm-3 text-center">
            <p>Aryo Wirapradana</p>
            <p>aryo.wirapradana@ui.ac.id</p>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
          </div>
          
          <div class="col-sm-3 text-center">
            <p>Ayesha Thalia</p>
            <p>ayesha.thalia@ui.ac.id</p>
            <i class="fab fa-facebook-f"></i>
<i class="fab fa-instagram"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-linkedin"></i>
          </div>
          <div class="col-sm-3 text-center ">
            <p>Hasna Nadifah</p>
            <p>hasna.nadifah@ui.ac.id</p>
            <i class="fab fa-facebook-f"></i>
<i class="fab fa-instagram"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-linkedin"></i>
          </div>
          <div class="col-sm-3 text-center">
            <p>Hilmy Akbar</p>
            <p>hilmy.akbar@ui.ac.id</p>
            <i class="fab fa-facebook-f"></i>
<i class="fab fa-instagram"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-linkedin"></i>
          </div>

        </div>

      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="{% static 'js/landing.js' %}"></script>
</body>

</html>